@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

body{
    font-family: 'Fugaz One', sans-serif;
    color: white;
    height: 100vh;
    background: conic-gradient(from 90deg at 50% 0%, #111, 50%, #4d4c4c, #111);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 60%;
    border-radius: 8px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.226);
    text-align: center;
    max-width: 370px;
}
.searchbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchbar input{
    border: 0;
    outline: 0;
    background: white;
    color: rgb(7, 7, 7);
    padding: 8px;
    padding-left: 12px;
    height: 25px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    flex: 1;
    margin-right: 16px;
}
.searchbar button{
    height: 45px;
    width: 45px;
    border: 0;
    background-color: rgb(15, 14, 14);
    border-radius: 20px;
    cursor: pointer;
}
.weather{
    margin-bottom: 12px;
}
.temp{
    margin: 0 auto;
}
.city{
    margin: 0 auto;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 0 12px;
}
.footer{
    display: flex;
    align-items: center;
    flex: 1;
}
.right {
    justify-content: flex-end;
}
.f-textc{
    margin-left: 8px;
    text-align: left;
}
.weatherImg{
    width: 180px;
    height: 180px;
}
.footerImg{
    width: 30px;
    height: 30px;
}
.condition{
    margin: 0;
}
.weather-container{
    display: none;
}
.error{
    text-align: left;
    margin-top: 12px;
    color: red;
    display: none;
}